# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
# Copied from https://github.com/numpy/numpy/blob/master/.gitignore
*.7z
*.bz2
*.bzip2
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tbz2
*.tgz
*.zip

# Python files #
################
# setup.py working directory
build

# sphinx build directory
_build
generated

# setup.py dist directory
dist

# Egg metadata
*.egg-info

# pycache
__pycache__

